<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My TodoList</title>
    <style>
        *{
            font-family: Microsoft JhengHei;
        }
        .bg {
            width: 50%;
            height: 100vh;
            background-image: url('./note.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;

        }

        h2 {
            margin-left: 25px;
        }
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div id="main" class="bg">

        <input type="text" placeholder="請輸入代辦事項" @keyup.enter="addTodo(newTodo)" v-model="newTodo">
        <h2>我的待辦事項:</h2>
        <ul>
            <li v-for="todo in todos" >
                <input type="checkbox" :id="todo.id" v-model="todo.completed">
                <label class="form-check-label" :for="todo.id" :class="{'completed':todo.completed}">
                    {{todo.content}}
                </label>
                - <a href="#" @click.prevent="removeTodo(todo)">刪除</a>
            </li>
        </ul>
        
    </div>


    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#main',
            data: {
                todos: [],
                newTodo: '',
                toggle:'1',
            },
            methods: {
                addTodo: function (todo) {
                    this.todos.push({
                        content: todo,
                        
                    })
                },
                removeTodo: function (todo) {
                    this.todos.splice(this.todos.indexOf(todo), 1);
                },
            },
            

        })

    </script>
</body>

</html>